body, html{
			margin:0;
			padding:0;
			height:100%;
		}
		#container{
			padding: 0;
			position: absolute;
			height:100%;
			width: 100%;
			z-index: 1;
			background-color : transparent;
		}

		#content{
			background: #ccc;
			height: 100%;
			width:100%;
			margin: 0;
			padding: 0;
			position: relative;
			z-index:0;
			overflow: hidden;
		}